<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://ez-css.now.sh">
    <style>
      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
<main id="app">
  <h3> {{title}}</h3>
  <form  @submit.prevent="addTodo" action="index.html" method="post">
    <label for="newTodo">New Todo</label>
    <input v-model="newTodo" type="newTodo" name="newTodo" id="newTodo">
    </input>
    <button type="submit" name="button">Add</button>
  </form>
  <button @click="allDone" type="button" name="button">All done</button>
  <ul>
      <li v-for="todo in todos">
      <input type="checkbox" v-model="todo.done">
      <span :class="{ done : todo.done }"> {{ todo.title}} </span>
      <button @click="removeTodo(todo)" type="button" name="button">Remove</button>
      </li>
  </ul>
</main>
<script type="text/javascript" src="https://unpkg.com/vue">
</script>
  <script type="text/javascript" src="app.js">
</script>
</body>
</html>
